<!DOCTYPE html>
<html>
  <head>
    <title>Demoapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
        <%# <ul class="nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled">Disabled</a>
          </li>
        </ul> %>
      <%=render 'layouts/messages'%>
      
      
        <p class="navbar-text float-right">
          <% if user_signed_in? %>
            You have Logged in as <strong><%= current_user.email %></strong>.
            <br />
            <%= link_to 'Edit profile', edit_user_registration_path, :class => "btn btn-warning" %> |
            <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => "btn btn-primary"  %>
          <%# <% else %>
            <%# <%= link_to "Sign up", new_user_registration_path %>
            <%# <%= link_to "Login", new_user_session_path %>
          <% end %>
    <%= yield %>
    

  </body>
</html>
